force-app/main/default/flows/Approver_Notifications_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_RH_Final_Approval_Notification</name>
        <label>Send RH Final Rejection Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_for_Approver.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>approverRecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Final Decision: Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The leave request for {!$Record.Requester__r.FirstName} {!$Record.Requester__r.LastName} that you previously approved has been rejected by RH.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Accepted_Cancellation_Notification</name>
        <label>Send Accepted Cancellation Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_for_Approver.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>approverRecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Cancellation Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The cancellation request for {!$Record.Requester__r.FirstName} {!$Record.Requester__r.LastName} has been approved. The leave is now cancelled.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Cancellation_Notification</name>
        <label>Send Cancellation Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_for_Approver.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>approverRecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Cancellation Request for Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>A request to cancel a leave for  {!$Record.Requester__r.FirstName} {!$Record.Requester__r.LastName} requires your attention.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Escalated_Notification</name>
        <label>Send Escalated Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_for_Approver.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>approverRecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Escalated Leave Request for Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>This leave request for {!$Record.Requester__r.FirstName} {!$Record.Requester__r.LastName} has been escalated to you for approval.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Request_Notification</name>
        <label>Send New Request Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_for_Approver.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>approverRecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Leave Request for Your Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>A leave request from {!$Record.Requester__r.FirstName} {!$Record.Requester__r.LastName} is awaiting your approval.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Manager</name>
        <label>Send Notification to Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_for_Approver.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>approverRecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Sick Leave Request from  {!$Record.Requester__r.FirstName} {!$Record.Requester__r.LastName} Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Hello,  The sick leave request from  {!$Record.Requester__r.FirstName} {!$Record.Requester__r.LastName} has been approved for the period from {!$Record.Start_Date__c} to {!$Record.End_Date__c}.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Refused_Cancellation_Notification</name>
        <label>Send Refused Cancellation Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_for_Approver.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>approverRecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Cancellation Refused</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The cancellation request for {!$Record.Requester__r.FirstName} {!$Record.Requester__r.LastName} has been refused. The leave remains approved.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_RH_Final_Approval_Notification</name>
        <label>Send RH Final Approval Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_for_Approver.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>approverRecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Final Decision: Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The leave request for {!$Record.Requester__r.FirstName} {!$Record.Requester__r.LastName} that you previously approved has now been given final approval by RH.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_RH_Queue_Notification</name>
        <label>Send RH Queue Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_for_Approver.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>approverRecipientList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Leave Request for RH Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>A leave request for {!$Record.Requester__r.FirstName} {!$Record.Requester__r.LastName} requires review from the RH team.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Prepare_Accepted_Cancellation_Recipients</name>
        <label>Prepare Accepted Cancellation Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Last_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_RH_Queue_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Accepted_Cancellation_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Cancellation_Reviewer</name>
        <label>Prepare Cancellation Reviewer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Last_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Cancellation_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Escalated_Recipient</name>
        <label>Prepare Escalated Recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Escalated_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Initial_Approver_Notif_RH_Approved</name>
        <label>Prepare Initial Approver Notif (RH Approved)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_RH_Final_Approval_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Initial_Approver_Notif_RH_Rejected</name>
        <label>Prepare Initial Approver Notif (RH Rejected)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Send_RH_Final_Approval_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Manager_Notification_for_Approved_Sick_Leave</name>
        <label>Prepare Manager Notification for Approved Sick Leave</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Requester__r.ManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification_to_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_New_Request_Recipient</name>
        <label>Prepare New Request Recipient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_New_Request_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Refused_Cancellation_Recipients</name>
        <label>Prepare Refused Cancellation Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Last_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_RH_Queue_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Refused_Cancellation_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_RH_Recipient_List</name>
        <label>Prepare RH Recipient List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>approverRecipientList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_RH_Queue_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_RH_Queue_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Notification_Scenario</name>
        <label>Check Notification Scenario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_Approval_by_RH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isApprovedByRH</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Initial_Approver_Notif_RH_Approved</targetReference>
            </connector>
            <label>Final Approval by RH</label>
        </rules>
        <rules>
            <name>Final_Rejection_by_RH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRejectedByRH</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Initial_Approver_Notif_RH_Rejected</targetReference>
            </connector>
            <label>Final Rejection by RH</label>
        </rules>
        <rules>
            <name>Cancellation_Outcome_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCancellationAccepted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Accepted_Cancellation_Recipients</targetReference>
            </connector>
            <label>Cancellation Outcome - Accepted</label>
        </rules>
        <rules>
            <name>Cancellation_Outcome_Refused</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCancellationRefused</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Refused_Cancellation_Recipients</targetReference>
            </connector>
            <label>Cancellation Outcome - Refused</label>
        </rules>
        <rules>
            <name>Is_Cancellation_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Cancellation_Reviewer</targetReference>
            </connector>
            <label>Is Cancellation Request</label>
        </rules>
        <rules>
            <name>Is_Assigned_to_RH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending HR Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_RH_Recipient_List</targetReference>
            </connector>
            <label>Is Assigned to RH</label>
        </rules>
        <rules>
            <name>Is_Escalated_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated to Senior Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Escalated_Recipient</targetReference>
            </connector>
            <label>Is Escalated Request</label>
        </rules>
        <rules>
            <name>Is_New_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Manager Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_New_Request_Recipient</targetReference>
            </connector>
            <label>Is New Request</label>
        </rules>
        <rules>
            <name>Is_the_Sick_Leave_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Leave_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sick Leave</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Manager_Notification_for_Approved_Sick_Leave</targetReference>
            </connector>
            <label>Is the Sick Leave Approved?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Exists</name>
        <label>Manager Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Manager_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Requester_s_User_Record.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Notification_Scenario</targetReference>
            </connector>
            <label>Yes, Manager Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isApprovedByRH</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!$Record.Status__c}, &quot;Approved&quot;), ISPICKVAL({!$Record__Prior.Status__c}, &quot;Pending HR Approval&quot;))</expression>
    </formulas>
    <formulas>
        <name>isCancellationAccepted</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!$Record.Status__c}, &quot;Cancelled&quot;), ISPICKVAL({!$Record__Prior.Status__c}, &quot;Cancellation Requested&quot;))</expression>
    </formulas>
    <formulas>
        <name>isCancellationRefused</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!$Record.Status__c}, &quot;Approved&quot;), ISPICKVAL({!$Record__Prior.Status__c}, &quot;Cancellation Requested&quot;))</expression>
    </formulas>
    <formulas>
        <name>isRejectedByRH</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISPICKVAL({!$Record.Status__c}, &quot;Rejected&quot;), ISPICKVAL({!$Record__Prior.Status__c}, &quot;Pending HR Approval&quot;))</expression>
    </formulas>
    <interviewLabel>Approver Notifications Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approver Notifications Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_for_Approver</name>
        <label>Get Custom Notification for Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Requester_s_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Request_for_Approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requester_s_User_Record</name>
        <label>Get Requester&apos;s User Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manager_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Requester__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RH_Queue_ID</name>
        <label>Get RH Queue ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_for_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR Approvals</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RH_Queue_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Leave_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>approverRecipientList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
