force-app/main/default/flows/Leave_Request_48h_Escalation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reassign_Task_to_New_Approver</name>
        <label>Reassign Task to New Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowApprovalSynchronizer</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leaveRequestIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowApprovalSynchronizer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Pending_Manager_Approval</name>
        <label>Is Pending Manager Approval?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Manager_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Manager Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_Task_to_New_Approver</targetReference>
            </connector>
            <label>Pending Manager Approval</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Leave Request - 24h Escalation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Leave Request - 48h Escalation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Initial_Approver_N_1</name>
        <label>Set Initial Approver (N+1)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>$Record.Requester__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Initial_Approver_N_1</targetReference>
        </connector>
        <object>Leave_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Escalate_After_48_Hours</name>
            <connector>
                <targetReference>Is_Pending_Manager_Approval</targetReference>
            </connector>
            <label>Escalate After 48 Hours</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
