force-app/main/default/flows/Leave_Request_48h_Escalation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reassign_Task_to_New_Approver</name>
        <label>Reassign Task to New Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowApprovalSynchronizer</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leaveRequestIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowApprovalSynchronizer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Leave Request - 24h Escalation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Leave Request - 48h Escalation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Change_Approver_to_N_2</name>
        <label>Change Approver to N+2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reassign_Task_to_New_Approver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Manager Approval</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>$Record.Approver__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Escalated to Senior Manager</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Initial_Approver_N_1</name>
        <label>Set Initial Approver (N+1)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>$Record.Requester__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Initial_Approver_N_1</targetReference>
        </connector>
        <object>Leave_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Escalate_After_48_Hours</name>
            <connector>
                <targetReference>Change_Approver_to_N_2</targetReference>
            </connector>
            <label>Escalate After 48 Hours</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
