force-app/main/default/flows/Send_Reminder_for_Missing_Supporting_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Reminder_for_Missing_Supporting_Document</name>
        <label>Send Reminder for Missing Supporting Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Leave_Request__c.Send_Reminder_for_Missing_Supporting_Document</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Leave_Request__c.Send_Reminder_for_Missing_Supporting_Document</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Supporting_Document_Still_Missing</name>
        <label>Is Supporting Document Still Missing?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supporting_Document_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Reminder_for_Missing_Supporting_Document</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Reminder for Missing Supporting Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Reminder for Missing Supporting Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Leave_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sick Leave</stringValue>
            </value>
        </filters>
        <filters>
            <field>Leave_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </filters>
        <filters>
            <field>Supporting_Document_Received__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Leave_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X2_Days_After_Creation</name>
            <connector>
                <targetReference>Is_Supporting_Document_Still_Missing</targetReference>
            </connector>
            <label>2 Days After Creation</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
