force-app/main/default/flows/User_Activation_Create_Leave_Balances.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Annual_Leave_to_Collection</name>
        <label>Add Annual Leave to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>leaveBalancesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempLeaveBalance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Leave_Balances</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Annual_Leave_Values</name>
        <label>Assign Annual Leave Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>tempLeaveBalance.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLeaveBalance.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLeaveBalance.Leave_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Paid Leave</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLeaveBalance.Allocated_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Leave_Policy_Settings.Annual_Paid_Leave_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempLeaveBalance.Used_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Annual_Leave_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Balances_Already_Exist</name>
        <label>Balances Already Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Create_New_Balances</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Balances</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Leave_Policy_Settings</targetReference>
            </connector>
            <label>No (Create New Balances)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentYear</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>User_Activation_Create_Leave_Balances {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User_Activation_Create_Leave_Balances</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Leave_Balances</name>
        <label>Create Leave Balances</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>leaveBalancesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Balances</name>
        <label>Get Existing Balances</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Balances_Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Leave_Balance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leave_Policy_Settings</name>
        <label>Get Leave Policy Settings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Annual_Leave_Values</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Leave_Policy_Settings__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Existing_Balances</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>leaveBalancesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Leave_Balance__c</objectType>
    </variables>
    <variables>
        <name>tempLeaveBalance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Leave_Balance__c</objectType>
    </variables>
</Flow>
